@model firma_mvc.IncomeTax

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>IncomeTax</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Month)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Month)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Paid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Paid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Income)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Income)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Loss)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Loss)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IncomeIncr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IncomeIncr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SocialSecContr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SocialSecContr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SocialSecContrIncr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SocialSecContrIncr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HealthSec)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HealthSec)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HealthSecIncr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HealthSecIncr)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
