@model IEnumerable<firma_mvc.IncomeTax>

@{
    ViewData["Title"] = "Index";
}

<p>
    <h2>Zaliczka na podatek dochodowy</h2>
</p>
<p>
    <a asp-action="Create">Dodaj</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Month)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Income)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Loss)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IncomeIncr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SocialSecContr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SocialSecContrIncr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HealthSec)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HealthSecIncr)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Month)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Income)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Loss)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncomeIncr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SocialSecContr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SocialSecContrIncr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HealthSec)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HealthSecIncr)
            </td>
        </tr>
}
    </tbody>
</table>
