@model IEnumerable<firma_mvc.InvoiceCorrection>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="row">
        @await Html.PartialAsync("~/Views/Invoices/SideMenuPartial.cshtml")
        <div class="col-10">

            <h2>Index</h2>

            <p>
                <a asp-action="Create">Create New</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.InvoiceId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateOfCorrection)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CorrectionCause)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Number)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateOfIssue)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateOfDelivery)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Contractor)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.InvoiceStatus)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PaymentMethod)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.InvoiceId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateOfCorrection)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CorrectionCause)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Number)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateOfIssue)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateOfDelivery)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.InvoiceStatus.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PaymentMethod.Id)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
