@model firma_mvc.VATRegisterSell

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>VATRegisterSell</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeliveryDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeliveryDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfIssue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfIssue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DocumentNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DocumentNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contractor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contractor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValueBrutto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValueBrutto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValueNetto23)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValueNetto23)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VATValue23)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VATValue23)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValueNetto7_8)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValueNetto7_8)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VATValue7_8)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VATValue7_8)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValueNetto3_5)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValueNetto3_5)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VATValue3_5)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VATValue3_5)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValueNetto0)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValueNetto0)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValueTaxFree)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValueTaxFree)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValueNoTax)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValueNoTax)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
