@model IEnumerable<firma_mvc.VATRegisterSell>

@{
    ViewData["Title"] = "Index";
}

<p>
    <h2>Rejestr VAT sprzedaży</h2>
</p>

<p>
    @Html.ActionLink("Dodaj", "Create", null, htmlAttributes: new { @class = "btn btn-outline-success" })
</p>
<table class="table table-responsive table-hover table-bordered">
    <thead class="thead-light">
        <tr>
            <th colspan="6"></th>
            <th colspan="7"> 
                Sprzedaż opodatkowana
            </th>
            <th colspan="3"></th>
        </tr>
        <tr>
            <th colspan="6"></th>
            <th colspan="2">
                Stawka 23%
            </th>
            <th colspan="2">
                Stawka 7/8%
            </th>
            <th colspan="2">
                Stawka 3/5%
            </th>
            <th>
                Stawka 0%
            </th>
            <th colspan="3"></th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfIssue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contractor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValueBrutto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValueNetto23)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VATValue23)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValueNetto7_8)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VATValue7_8)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValueNetto3_5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VATValue3_5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValueNetto0)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValueTaxFree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValueNoTax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VATSummary)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="table-light" onclick="location.href = '@Url.Action("Details", "VATRegisterSells",new { id = item.Id})'">
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfIssue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contractor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValueBrutto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValueNetto23)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VATValue23)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValueNetto7_8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VATValue7_8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValueNetto3_5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VATValue3_5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValueNetto0)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValueTaxFree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VATSummary)
            </td>
        </tr>
}
    </tbody>
</table>
