@model IEnumerable<firma_mvc.VATRegisterSell>

@{
    ViewData["Title"] = "Index";
}

<p>
    <h2>Rejestr VAT sprzedaży</h2>
</p>


<div class="form-row align-items-center">

    <div class="my-2">
        <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModal">
            Dodaj
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Dodaj wpis do rejestru VAT sprzedaży</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            @await Html.PartialAsync("CreatePartial", @ViewData["VATRegisterSell"])
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

@Html.ActionLink("Drukuj", "GenerateVATRegister", new { year = ViewBag.SelectedYear, month=ViewBag.SelectedMonth }, htmlAttributes: new { @class = "btn btn-outline-dark" })

    <div class="col-sm-1">
        <select id="yearDropDown" class="custom-select" asp-items="ViewBag.Year"></select>
    </div>
    <div class="col-sm-1">
        <select id="monthDropDown" class="custom-select" asp-items="ViewBag.Month"></select>
    </div>
</div>

<hr />
<table class="table table-responsive table-hover table-bordered">
    <thead class="thead-light">
        <tr>
            <th colspan="6"></th>
            <th colspan="7">
                Sprzedaż opodatkowana
            </th>
            <th colspan="3"></th>
        </tr>
        <tr>
            <th colspan="6"></th>
            <th colspan="2">
                Stawka 23%
            </th>
            <th colspan="2">
                Stawka 7/8%
            </th>
            <th colspan="2">
                Stawka 3/5%
            </th>
            <th>
                Stawka 0%
            </th>
            <th colspan="3"></th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfIssue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contractor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValueBrutto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValueNetto23)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VATValue23)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValueNetto7_8)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VATValue7_8)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValueNetto3_5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VATValue3_5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValueNetto0)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValueTaxFree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValueNoTax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VATSummary)
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            decimal totalVATSummary = 0;
            decimal totalValueBrutto = 0;
            decimal totalValueNetto23 = 0;
            decimal totalVATvalue23 = 0;
        }
        @foreach (var item in Model)
        {
            <tr class="table-light" onclick="location.href = '@Url.Action("Details", "VATRegisterSells",new { id = item.Id})'">
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfIssue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contractor.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValueBrutto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValueNetto23)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VATValue23)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValueNetto7_8)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VATValue7_8)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValueNetto3_5)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VATValue3_5)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValueNetto0)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValueTaxFree)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValueNoTax)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VATSummary)
                </td>
            </tr>
            count++;
            totalValueBrutto += (decimal)item.ValueBrutto;
            totalValueNetto23 += (decimal)item.ValueNetto23;
            totalVATvalue23 += (decimal)item.VATValue23;
            totalVATSummary += (decimal)item.VATSummary;
        }
        <tr class="table-active">
            <td></td>
            <td></td>
            <td>
                Ilość pozycji
            </td>
            <td>
                @count
            </td>
            <td>
                Razem
            </td>
            <td>
                @totalValueBrutto.ToString("0.00")
            </td>
            <td>
                @totalValueNetto23.ToString("0.00")
            </td>
            <td>
                @totalVATvalue23.ToString("0.00")
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                @totalVATSummary.ToString("0.00")
            </td>
        </tr>
        </thead>
</table>
