@model IEnumerable<firma_mvc.TaxBook>

@{
    ViewData["Title"] = "Księga przychodów i rozchodów";
}

<p>
    <h2>Księga przychodów i rozchodów</h2>
</p>

<p>
    @Html.ActionLink("Dodaj", "Create", null, htmlAttributes: new { @class = "btn btn-outline-success" })
</p>
<table class="table table-responsive table-hover table-bordered">
    <thead class="thead-light">
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Number)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InvoiceNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contractor.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contractor.NIP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contractor.FullAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SellValue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OtherIncome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GoodsBuys)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BuysSideEffects)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Salary)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OtherCosts)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Column15)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CostDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ResearchCostValue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comments)
                </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="table-light" onclick="location.href = '@Url.Action("Details", "TaxBooks",new { id = item.Id})'">
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contractor.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contractor.NIP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contractor.FullAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherIncome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoodsBuys)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuysSideEffects)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherCosts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Column15)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResearchCostValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
        </tr>
}
    </tbody>
</table>
