@model IEnumerable<firma_mvc.FixedAssets>

@{
    ViewData["Title"] = "Środki trwałe";
}

<p>
    <h2>Środki trwałe</h2>
</p>
<p>
    @Html.ActionLink("Dodaj", "Create", null, htmlAttributes: new { @class = "btn btn-outline-success" })
</p>
<table class="table table-responsive table-hover table-bordered">
    <thead class="thead-light">
        <tr>
            <th>
                L.p.
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Identfier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBuy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfUseStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OriginalValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepreciationRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpgradeValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedOriginalValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LiquidationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LiquidationReason)
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
        }
        @foreach (var item in Model)
        {
        <tr class="table-light" onclick="location.href = '@Url.Action("Details", "FixedAssets",new { id = item.Id})'">
            <td>
                @i
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Identfier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBuy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfUseStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OriginalValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepreciationRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpgradeValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedOriginalValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LiquidationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LiquidationReason)
            </td>
        </tr>
            i++;
        }
    </tbody>
</table>
