@{
    ViewData["Title"] = "Home Page";
}

<br>

<div class="row">

<div class="col">
<div class="card text-white bg-success mb-3" style="max-width: 18rem;">
  <div class="card-header">Sprzedaż</div>
  <div class="card-body">
    <h5 class="card-title">@ViewBag.SellNettValue</h5>
    <p class="card-text">@ViewBag.SellWithTaxValue brutto</p>
  </div>
</div>
</div>

<div class="col">
<div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
  <div class="card-header">Koszty</div>
  <div class="card-body">
    <h5 class="card-title">@ViewBag.BuyNettValue</h5>
    <p class="card-text">@ViewBag.BuyWithTaxValue brutto</p>
  </div>
</div>
</div>

<div class="col">
<div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
  <div class="card-header">Podatki</div>
  <div class="card-body">
    <h5 class="card-title">PIT-5 @ViewBag.IncomeTaxValue</h5>
    <h5 class="card-title">VAT-7 @ViewBag.VATValue</h5>    
  </div>
</div>
</div>

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
<canvas id="myChart" width="400" height="100"></canvas>
<script>
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ['styczeń', 'luty', 'marzec', 'kwiecień', 'maj', 'czerwiec', 'lipiec', 'sierpień', 'wrzesień', 'październik', 'listopad', 'grudzień'],
        datasets: [
        {
            label: 'przychód',
            fill: false,
            backgroundColor: 'blue',
			borderColor: 'blue',
            data: @Html.Raw(Json.Serialize(@ViewBag.IncomeLast12m)),
        }, 
        {
			label: 'dochód',
			fill: false,
			backgroundColor: 'green',
			borderColor: 'green',
			data: @Html.Raw(Json.Serialize(@ViewBag.NettIncomeLast12m)),
		},
        {
			label: 'koszty',
			fill: false,
			backgroundColor: 'red',
			borderColor: 'red',
			data: @Html.Raw(Json.Serialize(@ViewBag.CostsLast12m)),
		}        
        ]
    },
    options: {
        responsive: true,
        			title: {
					display: true,
					text: 'Przychód, dochód i koszty'
				},
				tooltips: {
					mode: 'index',
					intersect: false,
				}, 
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>