@model IEnumerable<firma_mvc.Item>

@{
    ViewData["Title"] = "Przedmioty";
}

<p>
    <h2>Towary i usługi</h2>
</p>
<p>
    @Html.ActionLink("Dodaj", "Create", null, htmlAttributes: new { @class = "btn btn-outline-success" })
</p>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="services-tab" data-toggle="tab" href="#services" role="tab" aria-controls="services" aria-selected="true">Usługi</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#products" role="tab" aria-controls="products" aria-selected="false">Towary</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="services" role="tabpanel" aria-labelledby="services-tab">
        <table class="table table-responsive table-hover">
            <thead class="thead-light">
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UnitOfMeasure)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VAT)
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 1;
                }
                @foreach (var item in Model)
                {
                    <tr class="table-light" onclick="location.href = '@Url.Action("Details", "Items",new { id = item.Id})'">
                        <td>
                            @i
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UnitOfMeasure.ShortName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VAT.Value)%
                        </td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="products" role="tabpanel" aria-labelledby="productse-tab">

        towary
    </div>
</div>
