@model firma_mvc.Contractor

@{
    ViewData["Title"] =  @Html.DisplayFor(model => model.FullName);
}

<h2>@Html.DisplayFor(model => model.FullName)</h2>

<div>

        @* <h4>Dane kontrahenta</h4> *@
    <hr />
    @* <dl class="dl-horizontal"> *@

        <div class="row">
            <div class="col">
                <dt>
                    @Html.DisplayNameFor(model => model.FullName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.FullName)
                </dd>
            </div>
            <div class="col">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
            </div>
            <div class="col">
                <dt>
                    @Html.DisplayNameFor(model => model.NIP)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.NIP)
                </dd>
            </div>
            <div class="col">
                <dt>
                    @Html.DisplayNameFor(model => model.CountryCode)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CountryCode)
                </dd>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <dt>
                    @Html.DisplayNameFor(model => model.Street)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Street)
                </dd>
            </div>
            <div class="col">
                <dt>
                    @Html.DisplayNameFor(model => model.BuldingNo)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.BuldingNo)
                </dd>
            </div>
            <div class="col">
                <dt>
                    @Html.DisplayNameFor(model => model.PostalCode)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PostalCode)
                </dd>
            </div>
            <div class="col">
                <dt>
                    @Html.DisplayNameFor(model => model.City)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.City)
                </dd>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <dt>
                    @Html.DisplayNameFor(model => model.PostOffice)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PostOffice)
                </dd>
            </div>
            <div class="col">
                <dt>
                    @Html.DisplayNameFor(model => model.County)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.County)
                </dd>
            </div>
            <div class="col">
                <dt>
                    @Html.DisplayNameFor(model => model.Community)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Community)
                </dd> 
            </div>
            <div class="col">
                <dt>
                    @Html.DisplayNameFor(model => model.Voivodeship)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Voivodeship)
                </dd>
            </div>
        </div>
   
    @* </dl> *@
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Powrót</a>
</div>
