@model firma_mvc.Contractor

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Contractor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NIP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NIP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CountryCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CountryCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Voivodeship)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Voivodeship)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.County)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.County)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Community)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Community)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BuldingNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BuldingNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostOffice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostOffice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
