@model firma_mvc.Invoice

@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid">
    <div class="row">
        @await Html.PartialAsync("SideMenuPartial")
        <div class="col-10">
            <br />
            <p>
                @Html.ActionLink("Dodaj pozycję", "Create", "InvoiceItems", new { InvoiceId = Model.Id }, htmlAttributes: new { @class = "btn btn-outline-success" })
                @Html.ActionLink("Zatwierdź", "Create", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-outline-primary" })
                @Html.ActionLink("Drukuj", "GenerateInvoice", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-outline-dark" })
                @Html.ActionLink("Edytuj", "Edit", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-outline-warning" })
                @Html.ActionLink("Korekta", "Create", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-outline-danger" })
            </p>

            <div class="card bg-light">
                <div class="card-header"><strong>Faktura nr @Model.Number</strong></div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6 col-md-4"><strong>@Html.DisplayNameFor(model => model.DateOfIssue)</strong></div>
                        <div class="col-6 col-md-4"><strong>@Html.DisplayNameFor(model => model.InvoiceStatus.Name)</strong></div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-4">@Html.DisplayFor(model => model.DateOfIssue)</div>
                        <div class="col-6 col-md-4"><span class="badge badge-primary">@Html.DisplayFor(model => model.InvoiceStatus.Name)</span></div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-4"><strong>@Html.DisplayNameFor(model => model.Contractor.NIP)</strong></div>
                        <div class="col-12 col-md-8"><strong>@Html.DisplayNameFor(model => model.Contractor)</strong></div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-4">@Html.DisplayFor(model => model.Contractor.NIP)</div>
                        <div class="col-12 col-md-8">@Html.DisplayFor(model => model.Contractor.Name)</div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-4"><strong>@Html.DisplayNameFor(model => model.TotalValue)</strong></div>
                        <div class="col-6 col-md-4"><strong>@Html.DisplayNameFor(model => model.TotalValueInclVat)</strong></div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-4">@Html.DisplayFor(model => model.TotalValue)</div>
                        <div class="col-6 col-md-4">@Html.DisplayFor(model => model.TotalValueInclVat)</div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-4"><strong>@Html.DisplayNameFor(model => model.PaymentMethod)</strong></div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-4">@Html.DisplayFor(model => model.PaymentMethod.Name)</div>
                    </div>
                </div>
            </div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            L.p.
                        </th>
                        <th>
                            @Html.DisplayName("Nazwa")
                        </th>
                        <th>
                            @Html.DisplayName("Ilość")
                        </th>
                        <th>
                            @Html.DisplayName("Jednostka")
                        </th>
                        <th>
                            @Html.DisplayName("Cena netto")
                        </th>
                        <th>
                            @Html.DisplayName("Wartość netto")
                        </th>
                        <th>
                            @Html.DisplayName("Stawka VAT")
                        </th>
                        <th>
                            @Html.DisplayName("Wartość VAT")
                        </th>
                        <th>
                            @Html.DisplayName("Wartość brutto")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model.InvoiceItems != null)
                        {
                            int i = 1;
                            foreach (var item in Model.InvoiceItems)
                            {
                    <tr class="table-light" onclick="location.href = '@Url.Action("Edit", "InvoiceItems",new { id = item.Id})'">
                        <td>
                            @i
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Item.UnitOfMeasure.ShortName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Item.VAT.Value)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalVATValue)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalPriceBrutto)
                        </td>
                    </tr>
                                i++;
                            }
                        }
                    }
                </tbody>
            </table>

            <div>
                <a asp-action="Index">Powrót</a>
            </div>
        </div>
    </div>
</div>