@model IEnumerable<firma_mvc.Invoice>

@{
    ViewData["Title"] = "Faktury";
}

<div class="container-fluid">
    <div class="row">
        @await Html.PartialAsync("SideMenuPartial")
        <div class="col-10">
            <p>
                <h2>Faktury</h2>
            </p>
            <form>
                <div class="form-row align-items-center">

                    <div class="col-sm-1">
                        <select class="custom-select" asp-items="ViewBag.Year"></select>
                    </div>
                    <div class="col-sm-1">
                        <select id ="MonthDropDownList"class="custom-select" asp-items="ViewBag.Month"></select>
                    </div>
                    <div class="col-sm-1">
                        <select class="custom-select" asp-items="ViewBag.Status"></select>
                    </div>

                    <div class="col-sm-3 my-1">
                        <input class="form-control" type="text" name="searchQuery" placeholder="Nr faktury, NIP lub nazwa kontrahenta" aria-label="Search">
                    </div>
                    <button class="btn btn-outline-primary" type="submit"><i class="fas fa-search"></i> Szukaj</button>
                </div>
            </form>

            <table class="table table-hover table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>
                            L.p.
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Number)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateOfIssue)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Contractor)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Contractor.NIP)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TotalValue)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.InvoiceStatus.Name)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 1;
                    }
                    @foreach (var item in Model)
                    {
                        <tr class="table-light" onclick="location.href = '@Url.Action("Details", "Invoices",new { id = item.Id})'">
                            <td>
                                @i
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Number)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateOfIssue)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Contractor.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Contractor.NIP)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalValue)
                            </td>
                            <td>
                                @{
                                    string statusName = item.InvoiceStatus.Name;
                                    string badgeStyle = string.Empty;
                                    if (statusName == "nowa")
                                    {
                                        badgeStyle = "badge-primary";
                                    }
                                    else if (statusName == "zatwierdzona")
                                    {
                                        badgeStyle = "badge-success";
                                    }
                                }
                                <span class="badge @badgeStyle">@statusName</span>
                            </td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>